{%extends 'user.html' %}

{%block title%}
user forgetpassword
{%endblock title%}

{%block body%}

<h1>welcome to user forget password page</h1>
<style>
    .fp label{
      position: relative;
      right: 115px;
    }
</style>
<center>
    <form method="post" class="login-form">
     {%csrf_token%}
    <div class="input-field fp">
        <label for="mobile">Username or Email : </label>
        <input type="text" placeholder="Usename or Email" id="mobile" name="mobile">
    </div> 
 
    <div class="input-field">
        <input type="submit" value="send otp">
    </div>
    </form>
 </center>
{%endblock body%}